<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>Post A Message</div>
    <div class='panel-body'>
      <div class='input-group'>

      <!-- ng-model main message allows the message to be accessed by the main.controller.js -->
        <textarea class='form-control custom-control' rows=3 style="resize:none" ng-model="main.message"></textarea>

        <!-- ng-click triggers the postMessage() function from the main.controller.js -->
        <span class='input-group-addon btn btn-primary' ng-click='main.postMessage()'>Post</span>
      </div>
    </div>
  </div>

</div>
